.cabeçalho{
    display:inline-flex;
}

.mostarda{
    background-color:#B7730E;
    width:720px;
    height:297px;
    display: flex;
    justify-content: center;

}

.mostarda-imagem{
    width: 233.53px;
    height:229.74px;
    padding:34px ;
}

.ciza{ 
    background-color:#B0AFAF;
    width:720px;
    height:297px;
    display: flex;
    justify-content: center;
    font-family:'inconsolata', monospace;
    font-weight: 700;
    font-size: 57px;
    display: flex;
    justify-content: center;

}


.ciza-texto{
    display: inline-flex;
    align-items: center;
    margin: 77px;
    text-align: center;

}

.titulo{
    font-family:'Inter',sans-serif;
    font-weight:900;
    font-size: 91px;
    display: flex;
    justify-content: center;
    padding: 30px;
}

.texto1{
    font-family:'Inter',sans-serif ;
    font-weight: 400;
    font-size: 38px;
    text-align:justify;
    margin: 35px;
    width: 1362;
    height: 240px;


}

.estrutura{
    display:grid;
    grid-template-columns:675px 675px ;
    row-gap: 90px;
    column-gap: 35px;
    margin: 28px;
    padding-bottom: 27px;

}

.fachada-indentificação{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 36px;
    text-align: center;
}

.laboratorio-imagem{
    display:block ;
    width: 675px;
    height: 393px;
    text-align: center;

}

.Laboratorio{
    font-family:'inter',sans-serif;
    font-weight: 600;
    font-size: 36px;
    text-align: center;

}

.Quadra{
    font-family:'inter',sans-serif;
    font-weight: 600;
    font-size: 36px ;
    text-align: center;
}

.Pátio{
    font-family: 'inter', sans-serif ;
    font-weight: 600 ;
    font-size: 36px ;
    text-align: center ;
    
}

.rodape{
    background-color: black;
    width: 1440px ;
    height: 172 ;
    display: grid;
    grid-template-columns: 230px,34px,1900px;
    padding: 20px;

}

.link{
    color:#FFFFFF ;
    font-family: 'inter',sans-serif;
    font-weight: 900;
    font-size: 30px;
    text-align: center;
    padding-top: 35px;

}

a:link{
    color:#FFFFFF;

}

a:hover{
    color: #b7730e;
}

.icone{
    display: grid;
    row-gap: 28px;
    padding-left: 50px;
    border-top: 2px;
}

.informações{
    color: #b7870e;
    font-family: 'inter', sans-serif;
    font-weight: 300;
    font-size: 28px;
    display: grid;
    row-gap: 20px;
    padding-left: 60px;
    padding-top: 27px;
    width: 1127px;

}